.header__users {
  text-decoration: none;
  align-self: center;
  outline: none;
  font-size: 18px;
  color: #ffffff;
  border: 0;
  background: none;
  cursor: pointer;
  margin: 0px;
  padding-right: 10px;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.header__users:hover {
  opacity: 0.6;
}
